# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual environments
# ==========================================

.venv/
venv/
env/
ENV/

# ==========================================
# IDEs
# ==========================================

.vscode/
.idea/

# ==========================================
# Operating System
# ==========================================

.DS_Store
Thumbs.db

# ==========================================
# Generated application data
# ==========================================

config/
data/

# ==========================================
# Temporary files
# ==========================================

*.log
tempCodeRunnerFile.py
